<h1>Meet Ups!</h1>
@if (!selected && !showNewEventForm) {
  <div>
    <button class="btn btn-info" (click)="toggleNewEventForm()">Add Gathering</button>
  </div>
  <div *ngFor="let gathering of gatherings" (click)="showGathering(gathering.id)" id="seperatingGatheringName">
    <p>Hosted by {{gathering.host.username}}</p>
    <h2>{{gathering.name}}</h2>
    {{gathering.startDate}} from {{gathering.startTime}} - {{gathering.endTime}}<br>
    {{gathering.description}}<br>
    {{gathering.fee}}<br>
    <p>{{gathering.minParticipants}}-{{gathering.maxParticipants}} players</p>
    <img *ngIf="gathering.imageUrl" [src]="gathering.imageUrl"><br>
    Last Updated {{gathering.lastUpdate}}
    <hr>
  </div>
}


 <div *ngIf="selected && !showNewEventForm">
  <div id="seperatingGatheringName">
    <h1>{{selected.name}}</h1>
    <p>Hosted by {{selected.host.username}}</p>
   </div>
   <img *ngIf="selected.imageUrl" [src]="selected.imageUrl"><br>
  {{selected.startDate}} from {{selected.startTime}} - {{selected.endTime}}<br>
   {{selected.description}}<br>
   <ul>
    <li *ngFor="let name of generateGuestList()">{{name}}</li>
   </ul>
   {{selected.fee}}<br>
   {{selected.address.name}}<br>
   {{selected.address.street}}<br>
   {{selected.address.city}}
   {{selected.address.stateAbbr}}
   {{selected.address.zip}}
   <p>{{selected.minParticipants}}-{{selected.maxParticipants}} players</p>
   Last Updated {{selected.lastUpdate}}<br>
   <button class="btn btn-info" (click)="selected = null">Back</button>
 <hr>
</div>

<div *ngIf="showNewEventForm">

        <form>
          <label for="name">Gathering Name: </label>
          <input type="text"  name="name" placeholder="name" [(ngModel)]="newGathering.name"><br>
          <label for="description">Description: </label>
          <textarea name="description" placeholder="description" [(ngModel)]="newGathering.description"></textarea><br>
          <label for="fee">Fee: </label>
          <input type="number"  name="fee" placeholder="fee" [(ngModel)]="newGathering.fee"><br>
          <label for="minParticipants">Min Participants: </label>
          <input type="number"  name="minParticipants" placeholder="minParticipants" [(ngModel)]="newGathering.minParticipants"><br>
          <label for="maxParticipants">Max Participants: </label>
          <input type="number" name="maxParticipants" placeholder="maxParticipants" [(ngModel)]="newGathering.maxParticipants"><br>
          <label for="startTime">Start Time: </label>
          <input type="time" name="startTime" placeholder="startTime" [(ngModel)]="newGathering.startTime"><br>
          <label for="endTime">End Time: </label>
          <input type="time" name="endTime" placeholder="endTime" [(ngModel)]="newGathering.endTime"><br>
          <label for="startDate">Start Date: </label>
          <input type="date" name="startDate" placeholder="startDate" [(ngModel)]="newGathering.startDate"><br>
          <label for="endDate">End Date: </label>
          <input type="date" name="endDate" placeholder="endDate" [(ngModel)]="newGathering.endDate"><br>
          <label for="imageUrl">Image Url: </label>
          <input type="text"  name="imageUrl" placeholder="imageUrl" [(ngModel)]="newGathering.imageUrl"><br>

            <!-- IMPORTANT: need to add add event click!!! -->
            <button type="submit" class="btn btn-success" (click)="addGathering(newGathering)">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="toggleNewEventForm()">Close</button>

        </form>
</div>

<div *ngIf="editGathering">
 <form>
    <label for="name">Gathering Name</label>
    <input type="text" name="name" [(ngModel)]="editGathering.name"><br>

    <label for="description">Description</label>
    <textarea name="description" [(ngModel)]="editGathering.description"></textarea><br>

    <label for="fee">Fee</label>
    <input type="number" name="fee" [(ngModel)]="editGathering.fee"><br>

    <label for="minParticipants">Minimum Participants</label>
    <input type="number" name="minParticipants" [(ngModel)]="editGathering.minParticipants"><br>

    <label for="maxParticipants">Maximum Participants</label>
    <input type="number" name="maxParticipants" [(ngModel)]="editGathering.maxParticipants"><br>

    <label for="imageUrl">Image Url</label>
    <input type="text" name="imageUrl" [(ngModel)]="editGathering.imageUrl"><br>

    <label for="startDate">Start Date</label>
    <input type="date" name="startDate" [(ngModel)]="editGathering.startDate"><br>

    <label for="endDate">End Date</label>
    <input type="date" name="endDate" [(ngModel)]="editGathering.endDate"><br>

    <label for="startTime">Start Time</label>
    <input type="time" name="startTime" [(ngModel)]="editGathering.startTime"><br>

    <label for="endTime">End Time</label>
    <input type="time" name="endTime" [(ngModel)]="editGathering.endTime"><br>

    <button class="btn btn-warning" (click)="updateGathering(editGathering)">Save</button>

    <button class="btn btn-danger" (click)="deleteGathering(editGathering.id)">Delete</button>
 </form>
</div>

