<h1>Game Gatherings!</h1><br>

@if (!selected && !showNewEventForm) {
  <div>
    <button *ngIf="isLoggedIn" class="btn btn-info" (click)="toggleNewEventForm()">Add Gathering</button>
  </div>
  <div *ngFor="let gathering of gatherings" (click)="showGathering(gathering.id)" id="seperatingGatheringName">
    <p>Hosted by {{gathering.host.username}}</p>
    <h2>{{gathering.name}}</h2>
    {{gathering.startDate}} from {{gathering.startTime}} - {{gathering.endTime}}<br>
    {{gathering.description}}<br>
    {{gathering.fee}}<br>
    <p>{{gathering.minParticipants}}-{{gathering.maxParticipants}} players</p>
    <img *ngIf="gathering.imageUrl" [src]="gathering.imageUrl"><br>
    Last Updated {{gathering.lastUpdate}}
    <hr>
  </div>
}


 <div *ngIf="selected && !showNewEventForm && !editGathering">
   <div id="seperatingGatheringName">
     <h1>{{selected.name}}</h1>
     <button class="btn btn-info" (click)="selected = null">Back</button>
     <button *ngIf="selected.host.id === currentUser?.id || currentUser?.role === 'chadmin'" class="btn btn-warning" (click)="setEditGathering()">Edit</button>
     <button *ngIf="!checkAttendance()" class="btn btn-success" (click)="addGatheringParticipant(selected.id)">Join this Gathering</button>
     <button *ngIf="checkAttendance()" class="btn btn-danger" (click)="removeGatheringParticipant(selected.id)">Leave this Gathering</button>
    <p>Hosted by {{selected.host.username}}</p>
   </div>
   <img *ngIf="selected.imageUrl" [src]="selected.imageUrl"><br>
  {{selected.startDate}} from {{selected.startTime}} - {{selected.endTime}}<br><br>
  <h2>Description</h2>
   {{selected.description}}<br><br>
   <h2>Guest List</h2>
   <ul>
    <li *ngFor="let name of generateGuestList()">{{name}}</li>
   </ul>
   {{selected.fee}}<br>
   {{selected.address.name}}<br>
   {{selected.address.street}}<br>
   {{selected.address.city}}
   {{selected.address.stateAbbr}}
   {{selected.address.zip}}
   <p>{{selected.minParticipants}}-{{selected.maxParticipants}} players</p>
   Last Updated {{selected.lastUpdate}}<br>
   <!-- need to add security to only allow whoever made the post to edit the post -->
   <hr>
</div>

<div *ngIf="showNewEventForm">
        <form>
          <label for="name">Gathering Name: </label>
          <input type="text"  name="name" placeholder="name" [(ngModel)]="newGathering.name"><br>
          <label for="description">Description: </label>
          <textarea name="description" placeholder="description" [(ngModel)]="newGathering.description"></textarea><br>

          <label for="games">Select Game: </label>
<select name="games" [(ngModel)]="selectedGame" (change)="addGameToGathering()" required>
  <option *ngFor="let game of games" [ngValue]="game">{{ game.name }}</option>
</select><br>

          <label for="fee">Fee: </label>
          <input type="number"  name="fee" placeholder="fee" [(ngModel)]="newGathering.fee"><br>
          <label for="minParticipants">Min Participants: </label>
          <input type="number"  name="minParticipants" placeholder="minParticipants" [(ngModel)]="newGathering.minParticipants"><br>
          <label for="maxParticipants">Max Participants: </label>
          <input type="number" name="maxParticipants" placeholder="maxParticipants" [(ngModel)]="newGathering.maxParticipants"><br>
          <label for="startTime">Start Time: </label>
          <input type="time" name="startTime" placeholder="startTime" [(ngModel)]="newGathering.startTime"><br>
          <label for="endTime">End Time: </label>
          <input type="time" name="endTime" placeholder="endTime" [(ngModel)]="newGathering.endTime"><br>
          <label for="startDate">Start Date: </label>
          <input type="date" name="startDate" placeholder="startDate" [(ngModel)]="newGathering.startDate"><br>
          <label for="endDate">End Date: </label>
          <input type="date" name="endDate" placeholder="endDate" [(ngModel)]="newGathering.endDate"><br>
          <label for="imageUrl">Image Url: </label>
          <input type="text"  name="imageUrl" placeholder="imageUrl" [(ngModel)]="newGathering.imageUrl"><br>
          <!-- need to show option to create new address or use one of the previously listed addresses -->
          <label for="address">Select Address: </label>
       <select name="address" [(ngModel)]="newGathering.address" required>
         <option *ngFor="let address of addresses" [ngValue]="address">{{ address.street }}, {{ address.city }}, {{ address.stateAbbr }}</option>
       </select><br>

        <!-- need to implement the ability to create a new address if not listed in the options drop down -->
        <div *ngIf="!showNewAddressForm">
          <button type="button" class="btn btn-secondary" (click)="showNewAddressForm = !showNewAddressForm">Create New Address</button>
        </div>
          <div *ngIf="showNewAddressForm">
            <form>
              <hr><br>
              <label for="name">Gathering Location Name: </label>
              <input type="text" name="name" [(ngModel)]="newAddress.name" placeholder="Enter address name" required><br>

              <label for="street">Street: </label>
              <input type="text" name="street" [(ngModel)]="newAddress.street" placeholder="Enter street" required><br>

              <label for="city">City: </label>
              <input type="text" name="city" [(ngModel)]="newAddress.city" placeholder="Enter city" required><br>

              <label for="stateAbbr">State (2-letter code): </label>
              <input type="text" name="stateAbbr" [(ngModel)]="newAddress.stateAbbr" placeholder="Enter state" maxlength="2" required><br>

              <label for="zip">ZIP Code (5 digits): </label>
              <input type="text" name="zip" [(ngModel)]="newAddress.zip" placeholder="Enter ZIP code" maxlength="5" required pattern="\d{5}"><br>

              <button type="button" class="btn btn-success" (click)="addNewAddress(newAddress)">Submit Address</button>
              <button type="button" class="btn btn-secondary" (click)="showNewAddressForm = false">Cancel</button>
            </form>
          </div>
            <button type="submit" class="btn btn-success" (click)="addGathering(newGathering)">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="toggleNewEventForm()">Close</button>

        </form>
</div>

<!-- need to implement the information above to the editing form as well. Need button after clicking into event
  (edit button) that then bring you here, you can cancel or submit your edits to the gathering with an option to
  delete the gathering. This would all be under the pretence that you yourself are the user who created the gathering-->
  <div *ngIf="editGathering">
    <form>
      <!-- <button class="btn btn-info" (click)="selected == null && editGathering = null">See All Gatherings</button><br> -->
      <label for="name">Gathering Name</label>
      <input type="text" name="name" [(ngModel)]="editGathering.name"><br>


      <label for="description">Description</label>
      <textarea name="description" [(ngModel)]="editGathering.description"></textarea><br>

      <label for="games">Select Game: </label>
      <select name="games" [(ngModel)]="editGathering.games" required>
        <option *ngFor="let game of games" [ngValue]="game">{{ game.name }}</option>
      </select><br>

      <label for="fee">Fee</label>
      <input type="number" name="fee" [(ngModel)]="editGathering.fee"><br>

      <label for="minParticipants">Minimum Participants</label>
      <input type="number" name="minParticipants" [(ngModel)]="editGathering.minParticipants"><br>

      <label for="maxParticipants">Maximum Participants</label>
      <input type="number" name="maxParticipants" [(ngModel)]="editGathering.maxParticipants"><br>

      <label for="imageUrl">Image Url</label>
      <input type="text" name="imageUrl" [(ngModel)]="editGathering.imageUrl"><br>

      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" [(ngModel)]="editGathering.startDate"><br>

      <label for="endDate">End Date</label>
      <input type="date" name="endDate" [(ngModel)]="editGathering.endDate"><br>

      <label for="startTime">Start Time</label>
      <input type="time" name="startTime" [(ngModel)]="editGathering.startTime"><br>

      <label for="endTime">End Time</label>
      <input type="time" name="endTime" [(ngModel)]="editGathering.endTime"><br>

      <label for="address">Select Address: </label>
      <select name="address" [(ngModel)]="editGathering.address" required>
        <option *ngFor="let address of addresses" [ngValue]="address">{{ address.street }}, {{ address.city }}, {{ address.stateAbbr }}</option>
      </select><br>

      <div *ngIf="!showNewAddressForm">
       <br> <button type="button" class="btn btn-primary" (click)="showNewAddressForm = !showNewAddressForm">Create New Address</button>

      </div>
      <div *ngIf="showNewAddressForm">
        <form>
          <hr><br>
          <label for="name">Gathering Location Name: </label>
          <input type="text" name="name" [(ngModel)]="newAddress.name" placeholder="Enter address name" required><br>

          <label for="street">Street: </label>
          <input type="text" name="street" [(ngModel)]="newAddress.street" placeholder="Enter street" required><br>

          <label for="city">City: </label>
          <input type="text" name="city" [(ngModel)]="newAddress.city" placeholder="Enter city" required><br>

          <label for="stateAbbr">State (2-letter code): </label>
          <input type="text" name="stateAbbr" [(ngModel)]="newAddress.stateAbbr" placeholder="Enter state" maxlength="2" required><br>

          <label for="zip">ZIP Code (5 digits): </label>
          <input type="text" name="zip" [(ngModel)]="newAddress.zip" placeholder="Enter ZIP code" maxlength="5" required pattern="\d{5}"><br>

          <button type="button" class="btn btn-success" (click)="addNewAddress(newAddress)">Submit Address</button>
          <button type="button" class="btn btn-secondary" (click)="showNewAddressForm = false">Cancel</button>
        </form>
      </div>
      <br>
      <button class="btn btn-secondary" (click)="editGathering = null">Back</button>
      <button class="btn btn-warning" (click)="updateGathering(editGathering)">Save</button>
      <button class="btn btn-danger" (click)="deleteGathering(editGathering.id)">Delete</button>
    </form>
  </div>

