<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <div>
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home </a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Trade</a>
        <a class="nav-item nav-link " href="#">Gathering</a>
        <div *ngIf="toggleUserButtonView()">
          <button class="btn btn-warning" (click)="toggleSignUp()">Sign Up</button>
          <button class="btn btn-info" (click)="toggleLogin()">Login</button>
        </div>
        <div *ngIf="!toggleUserButtonView() && loggingInUser">
          <a class="nav-item nav-link" [routerLink]="['/userprofile']">Hello, {{loggingInUser.username}}</a>
          <button class="btn btn-danger"(click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="modal fade show d-block" role="dialog" *ngIf="showSignUpForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up!</h5>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" id="username" name="username" placeholder="Username" [(ngModel)]="newUser.username"><br>
          <input type="text" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName"><br>
          <input type="text" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName"><br>
          <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="newUser.password"><br>
          <input type="email" id="email" name="email" placeholder="Email" [(ngModel)]="newUser.email"><br>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"(click)="register(newUser)">Submit</button>
            <button type="button" class="btn btn-secondary" (click)="toggleSignUp()">Close</button>
          </div>
        </form>

    </div>
  </div>
</div>
</div>

<div class="modal fade show d-block" role="dialog" *ngIf="showLoginForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login!</h5>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="username" placeholder="Username" [(ngModel)]="loggingInUser.username"><br>
          <input type="password"  name="password" placeholder="password" [(ngModel)]="loggingInUser.password"><br>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="login(loggingInUser)">Login</button>
            <button type="button" class="btn btn-secondary" (click)="toggleLogin()">Close</button>
          </div>
        </form>

    </div>
  </div>
</div>


