div{
  font-family: 'Parkinsans';
  font-size:larger;
  padding: 2%;
}
.btn-info {
  background-color: #39B54A;
  border-color: #39B54A;
}

.btn-info:hover {
  background-color: #32A340;
  border-color: #32A340;
}

.btn-warning {
  background-color: #00A3E0;
  border-color: #00A3E0;
}

.btn-warning:hover {
  background-color: #0098D3;
  border-color: #0098D3;
}

.btn-danger {
  background-color: #D5006D;
  border-color: #D5006D;
}

.btn-danger:hover {
  background-color: #C40058;
  border-color: #C40058;
}

.btn-success {
  background-color: #FBB03B;
  border-color: #FBB03B;
}

.btn-success:hover {
  background-color: #F8A820;
  border-color: #F8A820;
}

.btn-danger {
  background-color: #D5006D;
  border-color: #D5006D;
}

.btn-danger:hover {
  background-color: #D24B23;
  border-color: #D24B23;
}
