<div id="header">

  <blockquote>Welcome to RoundTwo—where board games find new homes, and players find new friends!</blockquote>
</div><hr>

<ngb-carousel
	#carousel
	[interval]="2400"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (img of images; track img; let i = $index) {
		<ng-template ngbSlide>
			<div class="carousel-caption">
				<!-- <h3>My slide {{ i + 1 }} title</h3> -->
			</div>
			<a [href]="img" target="_blank" rel="nofollow noopener noreferrer">
				<div class="picsum-img-wrapper">
					<img [src]="img" alt="My image {{ i + 1 }} description" />
				</div>
			</a>
		</ng-template>
	}
</ngb-carousel>

<hr />
<div class="body-text">
<h2>Our Service</h2>
<p>RoundTwo is a community-driven platform for board game enthusiasts to connect, trade, and play.
  We make it easy to bring people together over the joy of tabletop gaming.</p>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wechat" viewBox="0 0 16 16">
    <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.32.32 0 0 0-.12.366l.218.81a.6.6 0 0 1 .029.117.166.166 0 0 1-.162.162.2.2 0 0 1-.092-.03l-1.057-.61a.5.5 0 0 0-.256-.074.5.5 0 0 0-.142.021 5.7 5.7 0 0 1-1.576.22M9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.6.6 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.63.63 0 0 0 .098.356"/>
    <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.5.5 0 0 0-.032.14.19.19 0 0 0 .193.193q.06 0 .111-.029l1.268-.733a.6.6 0 0 1 .308-.088q.088 0 .171.025a6.8 6.8 0 0 0 1.625.26 4.5 4.5 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02l.15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826m4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0m3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0"/>
  </svg>
<h2>Swap</h2>
<p>Trade your used or old board games with other players and discover something new to play!
  Whether you're looking to refresh your collection or pass along a classic, our exchange system
   makes it easy to swap games and keep the fun going. </p>
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dice-3" viewBox="0 0 16 16">
    <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
    <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
  </svg>
   <h2> Gather</h2>
<p>Join a community of board game lovers, meet new people, and enjoy game nights together!
  Whether you're into strategy, party games, or card battles, find players who share your passion
  and make every round a great time.</p>
</div>
