<div class="container" *ngIf="!showNewGameForm">
  <div *ngIf="isLoggedIn">
    <button class="btn btn-info" (click)="toggleNewGameForm()">Add Game</button>
  </div>

  <div *ngFor="let game of games">
    <h1>
      <a href="{{game.websiteUrl}}" target="_blank">{{game.name}}</a>
    </h1>
    {{game.description}}<br>
    <img *ngIf="game.imageUrl" [src]="game.imageUrl" alt="Game Image"><br>
    <div *ngIf="game.categories">
      <h5>Categories:</h5>
      <ul *ngFor="let category of game.categories">
        <li>
          {{category.name}}
        </li>
      </ul>
    </div>
    @if(currentUser){
      <div *ngIf="currentUser.role === 'chadmin'">
        <button class="btn btn-warning" (click)="setEditGame(game)">Edit Game</button>
      </div><br>
    <div *ngIf="game.resources.length >0">
      <h5>Game Resources:</h5>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Posted By</th>
          <th>Last Updated</th>
        </thead>
        <tbody>
          <tr *ngFor="let resource of game.resources">
            <td><a href="{{resource.resourceUrl}}">{{resource.name}}</a></td>
            <td>{{resource.description}}</td>
            <td>{{resource.user.username}}</td>
            <td>{{resource.lastUpdate}}</td>
          </tr>
        </tbody>
      </table>
    </div>

      <div>
        <form>
          <label for="name">Game Resource</label>
          <input type="text" name="name" placeholder="name" [(ngModel)]="newGameResource.name"><br>

          <label for="description">Description</label>
          <textarea name="description" placeholder="description" [(ngModel)]="newGameResource.description"></textarea><br>

          <label for="resourceUrl">Resource Url</label>
          <input type="text"  name="resourceUrl" placeholder="Resource Url" [(ngModel)]="newGameResource.resourceUrl"><br><br>
          <button class="btn btn-success" (click)="addGameResource(newGameResource, game.id)">Add Game Resource</button>
      </form>
    </div>
    }
    <hr>
  </div>
</div>

<div *ngIf="showNewGameForm">
  <form>
    <label for="name">Game</label>
    <input type="text"  name="name" placeholder="name" [(ngModel)]="newGame.name"><br>
    <label for="description">Description: </label>
    <textarea name="description" placeholder="description" [(ngModel)]="newGame.description"></textarea><br>

    <!-- <label for="categories">Select Category </label>
    <select name="categories" [(ngModel)]="newGame.categories" required>
    <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
    </select><br> -->

    <label for="minAge">Min Age: </label>
    <input type="number"  name="minAge" placeholder="minAge" [(ngModel)]="newGame.minAge"><br>

    <label for="minPlayers">Min Players: </label>
    <input type="number" name="minPlayers" placeholder="minPlayers" [(ngModel)]="newGame.minPlayers" required><br>

    <label for="maxPlayers">Max Players: </label>
    <input type="number" name="maxPlayers" placeholder="maxPlayers" [(ngModel)]="newGame.maxPlayers"><br>

    <label for="websiteUrl">Website Url: </label>
    <input type="text"  name="websiteUrl" placeholder="websiteUrl" [(ngModel)]="newGame.websiteUrl"><br>

    <label for="imageUrl">Image Url: </label>
    <input type="text"  name="imageUrl" placeholder="imageUrl" [(ngModel)]="newGame.imageUrl"><br>

    <button type="submit" class="btn btn-success" (click)="addGame(newGame)">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="toggleNewGameForm()">Close</button>
  </form>
</div>


<div class="modal fade show d-block" role="dialog" *ngIf="viewGameEditForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Inventory Item</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form>

          <!-- <label>available</label>
          <input type="checkbox" name="available" [(ngModel)]="newInventoryItemInfo.available" [checked]="newInventoryItemInfo.available"> -->

          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="editGame.name"><br>

          <label>Description</label>
          <input type="text" name="description" [(ngModel)]="editGame.description"><br>

          <label>Image URL</label>
          <input type="text" name="imageUrl" [(ngModel)]="editGame.imageUrl"><br>

          <label>Website Url</label>
          <input type="text" name="websiteUrl" [(ngModel)]="editGame.websiteUrl"><br>

          <label>Minimum Age</label>
          <input type="text" name="minAge" [(ngModel)]="editGame.minAge"><br>

          <label>Minimum Players</label>
          <input type="text" name="minPlayers" [(ngModel)]="editGame.minPlayers"><br>

          <label>Maximum Players</label>
          <input type="text" name="maxPlayers" [(ngModel)]="editGame.maxPlayers"><br>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="updateGame(editGame)">Save</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
