  @if (!selected) {
    <div>
    <h1>Available Items to Trade</h1>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Condition</th>
        <th>Notes</th>
        <th>Listed</th>
        <th>Last Updated</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of availableItems" (click)="showItem(item.id)">
          <td>{{item.name}}</td>
          <td>{{item.condition.name}}</td>
          <td>{{item.notes}}</td>
          <td>{{item.createDate}}</td>
          <td>{{item.lastUpdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
}

<div *ngIf="selected">
  <div id="seperatingInventoryItemName">
    <h1>{{selected.name}}</h1>
  </div>
  <strong>Condition: </strong>{{selected.condition.name}}<br>
  <strong>Notes: </strong>{{selected.notes}}<br>
  <strong>Description: </strong>{{selected.condition.description}}<br>
   Listed by {{selected.user.username}} on {{selected.createDate}}<br>
   Last Update {{selected.lastUpdate}}<br>
   <img *ngIf="selected.imageUrl" [src]="selected.imageUrl"><br>
<hr>
<p *ngFor="let comment of selected.comments">
  "{{comment.comment}}" -{{comment.user?.username}}
</p>

<!-- <div *ngIf="isLoggedIn"> -->
<button class="btn btn-success" (click)="toggleNewCommentForm()">Add a Comment</button>
<!-- </div> -->
   <button class="btn btn-info" (click)="selected = null">Back</button>
 <hr>
</div>

<div class="modal fade show d-block" role="dialog" *ngIf="showNewCommentForm && selected">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add a Comment</h5>
      </div>
      <div class="modal-body">
        <form>
          <label for="comment"></label>
          <textarea name="comment" [(ngModel)]="newComment.comment"></textarea><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="addComment(newComment, selected.id)">Save</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>







