<div class="container">
  @if (!selected) {
<h1>Available Items to Trade</h1>
  <div *ngFor="let item of availableItems" (click)="showItem(item.id)">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Condition</th>
        <th>Notes</th>
        <th>Listed</th>
        <th>Last Updated</th>
      </thead>
      <tbody>
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.condition.name}}</td>
          <td>{{item.notes}}</td>
          <td>{{item.createDate}}</td>
          <td>{{item.lastUpdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
}

<div *ngIf="selected">
  <div id="seperatingInventoryItemName">
    <h1>{{selected.name}}</h1>
   </div>

   <!-- {{selected.name}}<br> -->
    {{selected.condition.name}}<br>
    {{selected.condition.description}}
   {{selected.notes}}<br>
   Listed {{selected.createDate}}<br>
   Last Update {{selected.lastUpdate}}<br>
   <img *ngIf="selected.imageUrl" [src]="selected.imageUrl"><br>
   <button class="btn btn-info" (click)="selected = null">Back</button>
 <hr>
</div>


</div>





