<div class="container">
  @if (!selected) {
<h1>Available Items to Trade</h1>
  <div>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Condition</th>
        <th>Notes</th>
        <th>Listed</th>
        <th>Last Updated</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of availableItems" (click)="showItem(item.id)">
          <td>{{item.name}}</td>
          <td>{{item.condition.name}}</td>
          <td>{{item.notes}}</td>
          <td>{{item.createDate}}</td>
          <td>{{item.lastUpdate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
}

<div *ngIf="selected">
  <div id="seperatingInventoryItemName">
    <h1>{{selected.name}}</h1>
    {{selected.notes}}<br>
   </div>

    {{selected.condition.name}}<br>
    {{selected.condition.description}}<br>
   Listed by {{selected.user.username}} on {{selected.createDate}}<br>
   Last Update {{selected.lastUpdate}}<br>
   <img *ngIf="selected.imageUrl" [src]="selected.imageUrl"><br>
<hr>
<p *ngFor="let comment of selected.comments">
  Comment #{{comment.id}} "{{comment.comment}}" -{{comment.user.username}}
</p>
   <button class="btn btn-info" (click)="selected = null">Back</button>
 <hr>
</div>
</div>





