<div *ngIf="userToDisplay && !editProfile">
  <h1>Hello, {{ userToDisplay.username }}</h1>
  <img *ngIf="userToDisplay.imageUrl" [src]="userToDisplay.imageUrl" alt="User Image">

  <p><strong>First Name:</strong> {{ userToDisplay.firstName }}</p>
  <p><strong>Last Name:</strong> {{ userToDisplay.lastName }}</p>
  <p><strong>Email:</strong> {{ userToDisplay.email }}</p>
  <p><strong>Role:</strong> {{ userToDisplay.role }}</p>
  <p><strong>Biography:</strong> {{ userToDisplay.biography }}</p>
<hr>
<div *ngIf="userToDisplay.inventoryItems">
  <h2>Inventory Items</h2>
  <table class="table">
    <thead>
      <th>Game</th>
      <th>Name</th>
      <th>Condition</th>
      <th>Notes</th>
      <th>Available</th>
      <th>Last Updated</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of userToDisplay.inventoryItems">
        <td>{{item.game.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.condition.name}}</td>
        <td>{{item.notes}}</td>
        <td>{{item.available}}</td>
        <td>{{item.lastUpdate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="userToDisplay.gatheringsAttended">
  <h2 >Upcoming Gatherings</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date & Time</th>
      <th>Location</th>
      <th>Host</th>
      <th>Fee</th>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let gathering of userToDisplay.gatheringsAttended"> -->
        <!-- <td>{{gathering.name}}</td>
        <td>{{gathering.startDate}} from {{gathering.startTime}} to {{gathering.endTime}} {{gathering.endDate}}</td>
        <td>{{gathering.address.name}}</td>
        <td>{{gathering.host.username}}</td>
        <td>{{gathering.fee}}</td>
      </tr> -->
    </tbody>
  </table>
</div>

<div *ngIf="gatheringsHosted.length > 0">
  <hr>
  <h2>Gatherings Hosted</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date & Time</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Spots Filled</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let gathering of gatheringsHosted">
        <td>{{gathering.name}}</td>
        <td>{{gathering.startDate}} from {{gathering.startTime}} to {{gathering.endTime}} {{gathering.endDate}}</td>
        <td>{{gathering.address.name}}</td>
        <td>{{gathering.maxParticipants}}</td>
        <td>{{gathering.participants.length}}</td>
      </tr>
    </tbody>
  </table>
</div>

  <button class="btn btn-warning" (click)="setEditProfile()">Edit Profile</button>
</div>

<div *ngIf="editProfile">
 <form>
    <label for="username">Username</label>
    <input type="text" name="username" [(ngModel)]="editProfile.username"><br>

    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="editProfile.password"><br>

    <label for="imageUrl">Profile Picture</label>
    <input type="text" name="imageUrl" [(ngModel)]="editProfile.imageUrl"><br>

    <label for="biography">Biography</label>
    <textarea name="biography" [(ngModel)]="editProfile.biography"></textarea><br>

    <label for="email">Email</label>
    <input type="text" name="email" [(ngModel)]="editProfile.email"><br>

    <button class="btn btn-warning" (click)="updateProfile(editProfile)">Save</button>

    <button class="btn btn-danger" (click)="deleteUser(editProfile.id)">Delete</button>
 </form>
</div>
