<div *ngIf="userToDisplay && !editProfile">
  <h1>Hello, {{ userToDisplay.username }}</h1>
  <img *ngIf="userToDisplay.imageUrl" [src]="userToDisplay.imageUrl" alt="User Image">

  <p><strong>First Name:</strong> {{ userToDisplay.firstName }}</p>
  <p><strong>Last Name:</strong> {{ userToDisplay.lastName }}</p>
  <p><strong>Email:</strong> {{ userToDisplay.email }}</p>
  <p><strong>Role:</strong> {{ userToDisplay.role }}</p>
  <p><strong>Biography:</strong> {{ userToDisplay.biography }}</p>
  <!-- Moved edit button here -->
  <button class="btn btn-warning" (click)="setEditProfile()">Edit Profile</button>

  <hr>
  <button class="btn btn-info" (click)="viewNewInventoryItemForm = true">Add Inventory Item</button>

<div *ngIf="userToDisplay.inventoryItems">
  <h2>Inventory Items</h2>
  <table class="table">
    <thead>
      <th>Game</th>
      <th>Name</th>
      <th>Condition</th>
      <th>Notes</th>
      <th>Available</th>
      <th>Last Updated</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of userToDisplay.inventoryItems" (click)="setNewInventoryItemInfo(item)">
        <td>{{item.game.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.condition.name}}</td>
        <td>{{item.notes}}</td>
        <td>{{item.available}}</td>
        <td>{{item.lastUpdate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="gatheringsAttending.length > 0">
  <h2>Upcoming Gatherings</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date & Time</th>
      <th>Location</th>
      <th>Host</th>
      <th>Fee</th>
    </thead>
    <tbody>
      <tr *ngFor="let gathering of gatheringsAttending">
        <!-- added click event -->
        <td (click)="viewGathering(gathering.id)">{{gathering.name}}</td>
        <td>{{gathering.startDate}} from {{gathering.startTime}} to {{gathering.endTime}} {{gathering.endDate}}</td>
        <td>{{gathering.address.name}}</td>
        <td>{{gathering.host.username}}</td>
        <td>{{gathering.fee}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="gatheringsAttended.length >0">
  <h2 >Past Gatherings</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date & Time</th>
      <th>Location</th>
      <th>Host</th>
      <th>Fee</th>
    </thead>
    <tbody>
      <tr *ngFor="let gathering of gatheringsAttended">
        <td>{{gathering.name}}</td>
        <td>{{gathering.startDate}} from {{gathering.startTime}} to {{gathering.endTime}} {{gathering.endDate}}</td>
        <td>{{gathering.address.name}}</td>
        <td>{{gathering.host.username}}</td>
        <td>{{gathering.fee}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="gatheringsHosted.length > 0">
  <h2>Gatherings Hosted</h2>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Date & Time</th>
      <th>Location</th>
      <th>Capacity</th>
      <th>Spots Filled</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let gathering of gatheringsHosted">
        <!-- added click event -->
        <td (click)="viewGathering(gathering.id)">{{gathering.name}}</td>
        <td>{{gathering.startDate}} from {{gathering.startTime}} to {{gathering.endTime}} {{gathering.endDate}}</td>
        <td>{{gathering.address.name}}</td>
        <td>{{gathering.maxParticipants}}</td>
        <td>{{gathering.participants.length}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- edit profile button originally here -->
</div>

<div *ngIf="editProfile">
 <form>
    <label for="imageUrl">Profile Picture</label>
    <input type="text" name="imageUrl" [(ngModel)]="editProfile.imageUrl"><br>

    <label for="biography">Biography</label>
    <textarea name="biography" [(ngModel)]="editProfile.biography"></textarea><br>

    <label for="email">Email</label>
    <input type="text" name="email" [(ngModel)]="editProfile.email"><br>

    <button class="btn btn-warning" (click)="updateProfile(editProfile)">Save</button>

    <button class="btn btn-danger" (click)="deleteUser(editProfile.id)">Delete</button>
<!-- FIX BACK BUTTON -->
    <button class="btn btn-success" (click)="loadLoggedInUser()">Back</button>
 </form>
</div>

<div class="modal fade show d-block" role="dialog" *ngIf="viewInventoryItemEditForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Inventory Item</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form>
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="newInventoryItemInfo.name"><br>

          <label>Notes</label>
          <input type="text" name="notes" [(ngModel)]="newInventoryItemInfo.notes"><br>

          <label>available</label>
          <input type="checkbox" name="available" [(ngModel)]="newInventoryItemInfo.available" [checked]="newInventoryItemInfo.available">

          <label>Condition</label>
          <select name="condition" [(ngModel)]="newInventoryItemInfo.condition" (ngModelChange)="newInventoryItemInfo.condition = $event">
          <option *ngFor="let condition of conditions" [ngValue]="condition">{{ condition.name }}</option>
          </select><br>

          <label>Image URL</label>
          <input type="text" name="imageUrl" [(ngModel)]="newInventoryItemInfo.imageUrl"><br>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="updateItem(newInventoryItemInfo)">Save</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show d-block" role="dialog" *ngIf="viewNewInventoryItemForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Inventory Item</h5>
      </div>
      <div class="modal-body">
        <form>
          <label>Game</label>
          <select name="game" [(ngModel)]="newInventoryItem.game">
          <option *ngFor="let game of games" [ngValue]="game">{{ game.name }}</option>
          </select><br>

          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="newInventoryItem.name"><br>

          <label>Notes</label>
          <input type="text" name="notes" [(ngModel)]="newInventoryItem.notes"><br>

          <label>available</label>
          <input type="checkbox" name="available" [(ngModel)]="newInventoryItem.available">

          <label>Condition</label>
          <select name="condition" [(ngModel)]="newInventoryItem.condition">
          <option *ngFor="let condition of conditions" [ngValue]="condition">{{ condition.name }}</option>
          </select><br>

          <label>Image URL</label>
          <input type="text" name="imageUrl" [(ngModel)]="newInventoryItem.imageUrl"><br>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="addInventoryItem(newInventoryItem)">Save</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
